<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<!-- Contenido de la página Nosotros -->
<div class="container">
  <h2>Nosotros</h2>
  <p>Somos una joyería de lujo dedicada a ofrecer las piezas más exquisitas y exclusivas para nuestros clientes más exigentes.</p>
  <p>Nuestra misión es proporcionar joyas de la más alta calidad, diseñadas con elegancia y estilo, para aquellos que aprecian el lujo y la belleza en cada detalle.</p>
  <p>Con años de experiencia en la industria, nuestro equipo de expertos artesanos y diseñadores trabaja arduamente para crear piezas únicas que reflejen la individualidad y el gusto refinado de nuestros clientes.</p>
</div>

<%- include('includes/footer.ejs') %>
