<!-- Productos -->
<div class="container">
    <div class="row">
        <% products.forEach(product => { %>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.description %></p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
